
.letra_1{
	font-family: 'Alfa Slab One', cursive; 
	font-size:36pt;
	font-weight: bold;
	color: #0611a5;
  font-style:italic;
  font-weight: bold;
  background-color: #8c00c4;
  width: 70%;
  border-radius: 20px;
  }

.letra_2{
  font-family: Arial;
  font-size: 21pt;
  font-weight: bold;
  color: #000292;
}

.letra_3{
  font-size: 25pt;
  font-weight: italic;
  color: purple;
}

.campo{
	font-size:14pt;
	font-weight: bold;
	text-align: center;
	border-radius: 7%;
    width: 70%;
    height: 90%;
}

 .boton{    
    display:inline-block;
    width:40%;
    padding:10px;
    background: darkblue;
    text-align: center;
    color:white;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.3s ease;
    border: 3px white;
    border-radius: 15px;
   }

  .boton:hover{
  	color: skyblue;
    box-shadow: 0px 0px 5px 5px skyblue;
    
  }